dist: xenial

git:
  depth: false

language: python

python:
  - 2.7
  - 3.5
  - 3.6
  - 3.7
  - 3.8

cache: pip

install:
  - travis_retry pip install -r requirements.txt
  - travis_retry pip install -r requirements-test.txt
  # install deepcell with setup.py
  - travis_retry python setup.py build_ext --inplace

script:
  - pytest --cov=deepcell_toolbox --pep8

jobs:
  include:
    - stage: deploy
      if: tag IS present
      deploy:
        provider: pypi
        user: $PYPI_USERNAME
        password: $PYPI_PASSWORD
        on:
          tags: true

after_success:
  - coveralls
